@use "../../styles/colors.scss" as colors;
@use "../../styles/mixin-layout.scss" as mixin;

.visa-hero{
    height: 300px;
    background: url("../../assets/img/visa.jpg") center/cover;
    position: relative;
}

.visa-overlay{
    position: absolute;
    background: linear-gradient(135deg,  rgba(0, 66, 122, 0.92) 0%, rgba(44, 62, 80, 0.88) 100%);
    inset: 0;
    display: flex;
    justify-content: center;
    text-align:center;
    padding-top: 120px;
}

.visa-overlay h1{
    font-size: 52px;
    letter-spacing: 2px;
    text-shadow: colors.$text-shadow-strong;
}

.visa-overlay p{
    color: colors.$white-medium;
    font-size: 20px;
}

.visa-container{
    font-family: 'Montserrat', sans-serif;
    max-width: 900px; //1100
    padding: 40px;
    margin: 0 auto;
    border: 1px solid red;
}

.visa-form{
    background: white;
    padding: 40px;

}

.form-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include mixin.responsive(mobile){
        grid-template-columns: 1fr;
    }
  
}



.passport-title,
.destination-title{
    font-size: 18px;
    font-weight: 700;
    color: colors.$gray-dark;
    
}

.passport-description,
.destination-description{
    display: block;
    font-size: 15px;
    font-style: italic;
    color: colors.$gray-medium;
    padding-bottom: 10px;
    padding-top: 2px;
}


.form-field select{
  width: 90%;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
}

.button-wrapper{
    display: flex;
   justify-content: center;
   padding-top: 40px;
}

.check-visa-button{
    padding: 18px;
    background-color: colors.$btn-color;
    color: colors.$white-medium;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    width: 70%;
    cursor: pointer;

    &:hover:not(:disabled){
        background: colors.$btn-color-hover;
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}


.visa-results{
    background: white;
    padding: 40px;
    margin-top: 20px;
    animation: slideIn 0.9s ease;
 
}

@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.visa-results h3{
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: colors.$gray-dark;
    font-size: 16px;
}

.result-content{
    border: 1px solid colors.$gray-dark;
    margin-bottom: 30px;
    margin-top: 10px;
    border-left: 5px solid colors.$dark-orange;
    padding: 17px;
}

.important-notes{
   padding-left: 22px;
  padding-top: 10px;

   li{
    line-height: 1.9;
    
   }
}

.error-message{
   background: colors.$light-yellow;
   border: 1px solid colors.$light-orange;
   text-align: center;
   margin-top: 25px;
   padding: 12px;
   

   p{
    font-weight: 500;
   }
}

.visa-disclaimer p{
    text-align: center;
    font-size: 16px;
    font-style: italic;
    color: colors.$gray-medium;
    margin-top: 10px;
}



