


//Black Scale
$black-medium:  #151B26;

//White Scale
$white-dark: #F2F7E9;
$white-medium: #FBFFF5;
$white-light: #f9f9f9;

// Gray Scale
$gray-dark:   #252626; 
$gray-medium: #777777;
$gray-light:  #d1d5db; 

$grey-green: #9eaaa0;

//Blue Scale
$dark-blue: #00427A;
$light-blue: #1976d2;
$aqua-blue: #3bafda;

//Ornage Scale
$dark-orange: #FF6B35;
$light-orange: #ff9500;




//Main Colors


//Auxiliary Colors
$light-lilac: #5c75d6;  
$light-yellow: #ffbf37;

//Btn Colors
$btn-color: #2c3e50; 
$btn-color-hover: #34495e; 
$btn-heart: #ff4757;


//text-shadow
$text-shadow-light: 1px 1px 4px rgba(0, 0, 0, 0.7);
$text-shadow-strong: 2px 2px 6px rgba(0, 0, 0, 0.8); /* Para casos especiais */