@use "../../styles/colors.scss" as colors;




.customers-bg{
    background-image: url("../../assets/img/customers.avif");
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;      
}

.customers-bg h2{
    text-align: center;
    padding-top: 50px;
   
}

.customer-container{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-in-out;
}

.customer-container.active{
    opacity: 1;
    transform: translateY(0);
}

.customer-content{
    border: 1px solid white;
    position: absolute;
    
    border-radius: 7px;
    padding: 30px;
    max-width: 800px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    
   
}

.customer-msg{
    text-align: center;
    font-size: 21px;
}

.customer-name{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.slide-indicators{
    border: 1px solid red;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: absolute;
    bottom: 22%;
    left: 45%;
}

.indicator{
    width: 17px;
    height: 17px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid white; 
    border-radius: 12px;
    margin-right: 10px;
    cursor: pointer;    
}

.indicator.active{
    background-color:#34495e; 
    transform: scale(1.5);
}