@use "../../styles/colors.scss" as colors;




.customers-bg{
    background-image: url("../../assets/img/customers.avif");
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;      
}

.customers-bg h2{
    text-align: center;
    padding-top: 50px;
   
}

.customer-container{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-in-out;
}

.customer-container.active{
    opacity: 1;
    transform: translateY(0);
}

.customer-content{
    border: 1px solid white;
    position: absolute;
    
    border-radius: 7px;
    padding: 30px;
    max-width: 800px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    
   
}

.customer-msg{
    text-align: center;
    font-size: 21px;
}

.customer-name{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}



.slide-indicators {
    display: flex;
    gap: 20px;
    justify-content: center;
    position: absolute;
    bottom: 199px;
    left: 50%;
    transform: translateX(-50%); // para centralizar melhor


    top: 62vh;

}

.indicator {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid white; 
    border-radius: 12px;
    cursor: pointer;    
    transition: all 0.5s ease-in-out; // adiciona transição
}

.indicator.active {
    width: 45px; 
    background-color:  #fff; 
    transform: scale(1.2);
}