@use '../../styles/colors.scss' as colors;
@use '../../styles/mixin-layout.scss' as mixin;

.gallery-container{

  position: relative;
  margin-top: 7px;
 
  
}

.gallery-arrow{
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 55%;
  transform: translateY(-50%);
  z-index: 10;

}

.arrow-left{
 left: 10px;
}

.arrow-right{
 right: 10px;
}

.photo-gallery{
  display: flex;
  scrollbar-width: none;
  overflow-x: auto;
  
}

.photo-item{
  flex: 0 0 370px;
  height: 370px;
  width: 370px;
  overflow: hidden;
  position: relative;

 
}

.photo-item img{
  width: 100%;
  height: 100%;
}

.photo-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.photo-item:hover .photo-overlay{
  opacity: 1;
}

.heart-btn{
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.3s ease;

  &:hover{
    transform: scale(1.2);
  }
}

.heart-icon{
 width: 32px;
 height: 32px;
 stroke: rgba(255, 255, 255, 0.9);
 stroke-width: 1.5;
 fill: none;
 filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
 
}


.liked .heart-icon{
  //stroke: #ff4757;
  stroke: colors.$btn-heart;
  fill: colors.$btn-heart;
  animation: heartBeat 0.5s ease-in-out;
}

@keyframes heartBeat{
 0%{transform: scale(1);}
 25%{transform: scale(1.2);}
 50%{transform: scale(1.1);}
 75%{transform: scale(1.15);}
 100%{transform: scale(1);}
}

.likes-counter{
  position: absolute;
  bottom: -160px;
  right: -150px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: colors.$white-medium;
  border-radius: 20px;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.liked .likes-counter{
  background: rgba(255, 71, 87, 0.8);
  border-color: rgba(255, 71, 87, 0.3);
}