
@use '../../styles/colors.scss' as colors;
@use '../../styles/mixin-layout.scss' as mixin;

Footer{
    background-color: colors.$grey-green;
    padding: 32px;
    margin-top: 5px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mixin.responsive(mobile){
        grid-template-columns: 1fr;
        text-align: center;
        gap: 24px;

        > div:nth-child(1) {grid-row: 3;}
    }
}

.footer-logo{
 width: 200px;
 padding-bottom: 10px;

}

.link-footer{
    display: block;
    padding-top: 20px;
}

footer h4{
    font-family: 'Montserrat', sans-serif;
    color: colors.$white-light;
    font-weight: bolder;
    text-transform: uppercase;

}

footer p{
padding-top: 10px;
color: colors.$white-light;
}