
@use "../../styles/mixin-layout.scss" as mixin;
@use "../../styles/colors.scss" as colors;

.journeys{
 text-align: center;
 margin-top: 50px;
 
}


.journey-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
    
    @include mixin.responsive(mobile){
        grid-template-columns: 1fr;
        
    }
}

.journey-card{
    position: relative;
  
    height: 290px;
    transition: transform 0.3s ease;

    &:hover{
    transform: translateY(-5px);
    }

    @include mixin.responsive(mobile){
    width: 100%;
    }
  
}

.journey-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
   
}

.journey-card span{
   position: absolute;
   font-size: 30px;
   font-weight: 700;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Anton', sans-serif;
   letter-spacing: 5px;
   text-shadow: colors.$text-shadow-strong;
   text-transform: uppercase;
}

.journey-card::after{
    content: '';
    position: absolute;
    background-color: rgba(100, 150, 255, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;

}

.journey-card:hover::after{
    opacity: 1;
}

.container-btn{
    text-align: center;
    margin-top: 50px;
}



.custom-tours{
    text-align: center;
    margin-top: 80px;
    background-color: #f3ce0b;
   
    padding: 50px;
}

.custom-tours .btn-custom{
    margin-top: 30px;
}

